<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edição de categoria</h2>    
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/update">
                    <input class="form-control" type="text" name="title" value="<%=category.title%>"placeholder="Defina o título da categoria"><br>
                    <input type="hidden" name="id" value="<%=category.id%>">
                    <button class="btn btn-info" type="submit">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>