<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>
<body>
    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <hr>
        <a class="btn btn-info" href="/admin/categories/new">Cadastrar categoria</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category =>{ %>
                    <tr>
                        <td><%= category.id %></td>
                        <td><%= category.title %></td>
                        <td><%= category.slug %></td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                            <form method="POST" action="/categories/delete" style="display: inline" onsubmit="deleteConfirm(event, this)">
                                <input type="hidden" name="id" value="<%= category.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<%- include ('../../partials/footer.ejs'); %>
<script>
    function deleteConfirm(event, form){
        event.preventDefault();
        
        var confirm = window.confirm('Deseja realmente excluir a categoria?')
        if(confirm){
            form.submit();
        }
    }
</script>